html {
  font-family: var(--base-font);
  font-size: 62.5%;
  color: var(--dark-solid);
}

/* HEADER */
header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}
main{
  padding: var(--spacing-36);
}

/* Estilos para el BANNER*/
.banner{
  background-image: url(../../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.banner::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}
.banner__wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  z-index: 2;
  position: relative;
}
.banner__h3{
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid);
}
.banner__txt {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
}
.banner__boton {
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all .3s ease-in-out;
}
.banner__boton:hover {
  background-color: var(--primary-900);
}
/* FIN DE BANNER*/

/* Estilos del NavBar y el Footer */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  max-width: 300px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}
.navbar__cart > img {
  width: 27px;
}
.navbar__cart > img:hover {
  background-color: var(--primary-900);
}
.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background .3s ease-in-out;
  position: relative;
}

.navbar__link:hover{
  background-color: var(--primary-900);
}

.with-icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background .3s ease-in-out;        
}

.submenu__link:hover {
  background-color: var(--primary-900);
}


/* FOOTER */
.footer{
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}