
.form{
  padding: var(--spacing-36);
}
.form__cuerpo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__boton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form__h2{
  font-weight: bold;
  font-size: var(--font-large);
  padding: var(--spacing-16);
}
.form__h3{
  font-weight: 500;
  font-size: var(--font-small);
  padding: var(--spacing-16);
}
.form__h6{
  font-size: var(--font-small);
  margin-left: .5rem;
}
.form__boton-boton{
  margin: auto 3rem;
  padding: 1rem 1.5rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-color: var(--primary-solid);
}
.form__ul{
  width: 500px;
  padding: var(--spacing-12);
  display: flex;
  flex-direction: column;

}
.form__li{
  margin: 0.3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__a-link{
  color: var(--secondary-solid) ;
}
.form__label{
  margin: 0.3rem 2rem 0.3rem 0rem;
  font-family: var(--base-font);
  font-weight: 400;
  font-size: var(--font-medium);
}
.form__input{
  font-family: var(--base-font);
  font-weight: 500;
  border: none;
  border-bottom: solid #FF3333 2px;
  outline: none;
  transition: border 3.3s ease-in-out;
  padding: 0.3rem;

}
/* .form__checkbox{
  accent-color: #FF1654;
} */