<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/variable.css">
  <link rel="stylesheet" href="/css/banner.css">
  <title>Banner</title>
</head>

<body>
  <!-- Banner + tiltulo del banner -->
  <section class="banner">
    <div class="container banner__wrapper">
      <h2 class="banner__h3">Nuevos Ingresos</h2>
      <p class="banner__txt">Descubrí el próximo Funko Pop de tu colección</p>
      <a href="/pages/tienda.app/shop.html" class="banner__boton">SHOP</a>
    </div>
  </section>
</body>

</html>