<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <title>Footer tienda</title>
</head>

<body>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/shop/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/shop/login.html">INGRESAR</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/shop/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <a href="/index.html">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isologoyipo de la marca Funkoshop">
                </a>
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
</body>

</html>