<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/header-footer.css">
  <title>Footer tienda</title>
</head>

<body>
  <header>
    <nav class="navbar container">
      <picture class="navbar__logo">
        <a href="/index.html">
          <img src="/img/branding/logo_light_horizontal.svg" alt="Isologoyipo de la marca Funkoshop">
        </a>
      </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/pages/components/shop/shop.html"><iconify-icon icon="tabler:chevron-down"></iconify-icon>SHOP</a>
            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/pages/components/contact.html">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/pages/components/login.html">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__cart" href="/pages/components/cart.html">
              <img src="/img/icons/cart-icon.svg" alt="icono de carrito"></img>
            </a>
          </li>
        </ul>
    </nav>
  </header>
</body>

</html>